/* TODO: DRYify styles/code with ColorSwatchListCard */
.card_large {
    width: 100%;
    border: 1px solid white;
    border-radius: 7px;
    box-shadow: 0 0 5px lightgray;
}

.card_color_large {
    width: 100%;
    /* TODO: add media queries to decrease height on smaller screens */
    height: 60vh;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.card_label {
    padding: 10px 15px 10px;
}